doctype html
html
  head
    meta(charset='utf-8')
    title Treasure Ship
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/vendor/animate.css/animate.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    #container.col-md-12.col-offset-3
      h1#title.animated.swing Treasure Ship
      img#pirateship.animated.slideInLeft(src='/assets/pirateship.png')
      #controls
        #user
          input#email(type='email', placeholder='email')
          input#password(type='password', placeholder='password')
          button#create-user Create Account
          button#login-user Login
        button#logout-user Logout
        #charactercreation
          input#handle(type='text', placeholder='handle')
          input#avatar(type='url', placeholder='avatar')
          button#new-player Create Player
        #shipcreation
          select#ship-type
            option(value='frigate') frigate
            option(value='corvette') corvette
            option(value='man-of-war') man-of-war
            option(value='junk') junk
            option(value='dinghy') dinghy
          button#create-and-place-ship Create and Place Ship
          button#set-position Set Position
        p#message
        #players
          p#player1.player Player 1
          p#player2.player Player 2
      #boards
        table#board1
          - for(var i = 0; i < 10; i++)
            tr
            - for(var j = 0; j < 10; j++)
              td(data-x=j, data-y=i)
        table#board2
          - for(var i = 0; i < 10; i++)
            tr
            - for(var j = 0; j < 10; j++)
              td(data-x=j, data-y=i)

    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(src='/vendor/firebase/firebase.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
