doctype html
html
  head
    meta(charset='utf-8')      
    title Battleship
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    h1#title Battleship
    #container
      #controls
        input#email(type='email', placeholder='email')
        input#password(type='password', placeholder='password')
        button#create-user Create Account
        button#login-user Login
        button#logout-user Logout
      #boards
        table#board1
          - for(var i = 0; i < 10; i++)
            tr
            - for(var j = 0; j < 10; j++)
              td(data-x=j, data-y=i)
        
        
        table#board2
          - for(var i = 0; i < 10; i++)
            tr
            - for(var j = 0; j < 10; j++)
              td(data-x=j, data-y=i)
    
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(src='/vendor/firebase/firebase.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
